@media (max-width:376px) {
    
    .main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-left: 80px;
    }

    .social-media {
        max-width: 300px;
    }

    .titulo {
        font-size: 25px;
        margin-left: 20px;
    }

    .btn-register {
        margin-left: 45px;
    }

    .footer {
        position: relative;
        top: 200px;
        right: 70px;
    }

}



